USE [master]
GO
/****** Object:  Database [УчетКомпьютеров]    Script Date: 02.04.2023 18:42:19 ******/
CREATE DATABASE [УчетКомпьютеров]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'УчетКомпьютеров', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\УчетКомпьютеров.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'УчетКомпьютеров_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\УчетКомпьютеров_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [УчетКомпьютеров].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [УчетКомпьютеров]
GO
/****** Object:  Table [dbo].[Computers]    Script Date: 02.04.2023 18:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Computers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InventNomer] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Kabinet] [int] NOT NULL,
	[Monitor] [varchar](50) NOT NULL,
	[RAM] [varchar](100) NOT NULL,
	[CPU] [varchar](100) NOT NULL,
	[Motherboard] [varchar](100) NOT NULL,
	[MemoryStorage] [varchar](100) NOT NULL,
	[VideoCard] [varchar](50) NULL,
	[AtWork] [bit] NOT NULL,
	[infoRam] [varchar](100) NULL,
	[infoCPU] [varchar](100) NULL,
	[infoMBoard] [varchar](100) NULL,
	[infoMemory] [varchar](100) NULL,
	[infoVCard] [varchar](100) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Kabinets]    Script Date: 02.04.2023 18:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Kabinets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Number_cabinet] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Kabinets] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Monitors]    Script Date: 02.04.2023 18:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Monitors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NameMonitor] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Monitors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Otchets]    Script Date: 02.04.2023 18:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Otchets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Otchets] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 02.04.2023 18:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] NOT NULL,
	[NameRole] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02.04.2023 18:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Lastname] [varchar](50) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Image] [image] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Computers] ON 

INSERT [dbo].[Computers] ([ID], [InventNomer], [Name], [Kabinet], [Monitor], [RAM], [CPU], [Motherboard], [MemoryStorage], [VideoCard], [AtWork], [infoRam], [infoCPU], [infoMBoard], [infoMemory], [infoVCard]) VALUES (1, 123456, N'ThermalTake', 17, N'MSI Pro MP241', N'16GB', N'AMD Ryzen', N'asrock b450m', N'WD Blue 1Tb', N'MSI GTX1650Super', 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Computers] ([ID], [InventNomer], [Name], [Kabinet], [Monitor], [RAM], [CPU], [Motherboard], [MemoryStorage], [VideoCard], [AtWork], [infoRam], [infoCPU], [infoMBoard], [infoMemory], [infoVCard]) VALUES (2, 121212, N'test', 17, N'test', N'test', N'test', N'test', N'test', N'test', 0, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Computers] ([ID], [InventNomer], [Name], [Kabinet], [Monitor], [RAM], [CPU], [Motherboard], [MemoryStorage], [VideoCard], [AtWork], [infoRam], [infoCPU], [infoMBoard], [infoMemory], [infoVCard]) VALUES (3, 1112223, N'Hyper', 5, N'Samsung', N'8GB', N'Intel Core i5', N'Asus H81M', N'WD Blue 500GB', N'', 1, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Computers] OFF
SET IDENTITY_INSERT [dbo].[Kabinets] ON 

INSERT [dbo].[Kabinets] ([id], [Number_cabinet]) VALUES (1, N'1')
INSERT [dbo].[Kabinets] ([id], [Number_cabinet]) VALUES (2, N'2')
INSERT [dbo].[Kabinets] ([id], [Number_cabinet]) VALUES (3, N'3')
SET IDENTITY_INSERT [dbo].[Kabinets] OFF
SET IDENTITY_INSERT [dbo].[Monitors] ON 

INSERT [dbo].[Monitors] ([id], [NameMonitor]) VALUES (1, N'Asus')
INSERT [dbo].[Monitors] ([id], [NameMonitor]) VALUES (2, N'Samsung')
SET IDENTITY_INSERT [dbo].[Monitors] OFF
SET IDENTITY_INSERT [dbo].[Otchets] ON 

INSERT [dbo].[Otchets] ([id], [Type]) VALUES (1, N'Паспорт компьютера')
INSERT [dbo].[Otchets] ([id], [Type]) VALUES (2, N'Тест')
SET IDENTITY_INSERT [dbo].[Otchets] OFF
INSERT [dbo].[Roles] ([ID], [NameRole]) VALUES (1, N'Admin')
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Computers]  WITH CHECK ADD  CONSTRAINT [FK_Computers_Kabinets] FOREIGN KEY([Kabinet])
REFERENCES [dbo].[Kabinets] ([id])
GO
ALTER TABLE [dbo].[Computers] CHECK CONSTRAINT [FK_Computers_Kabinets]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
